@using CTSImp1.ViewModels;
@using CTSImp1.Models;
@model TrackingViewModel
@{
    ViewBag.Title = "ComplaintPV";
    Layout = "";
}
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblfname", "First Name:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.fname, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblLname", "Last Name:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.lname, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblTphone", "TelePhone:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.tel_number, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblEmail", "Email:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.email_add, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-group-sm">
            @Html.Label("lblStrtAdd", "Street Name:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.street_add, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblCity", "City:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.city, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group form-group-sm">
            @Html.Label("lblState", "State:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.state, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-group-sm">
            @Html.Label("lblZip", "Zip:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.zipcode, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblCtDfta", "Contract with DFTA:")
            @Html.DropDownListFor(m => m.corrcmpcontactInfo.cont_with_dfta_yn, new SelectList((IEnumerable<CTSCodeTable>)ViewData["ContractwithDFTA"], "short_description", "short_description"), "---Select One--", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblprgmtype", "If yes, select Program Type:")
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblprgmID", "If yse, select Program ID:")
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblPrgmName", "If no, enter Program Name:")
            @Html.TextBoxFor(m => m.corrcmpcontactInfo.other_site_name, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
</div>
<input type="submit" class="btn btn-primary btn-sm" formaction="SaveComplaintInfo" value="Save Complaint">
}