@using CTSImp1.ViewModels;
@using CTSImp1.Models;
@model TrackingViewModel
@{
    ViewBag.Title = "DetailsPV";
    Layout = "";
}
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblIncLocation", "Incident Location:")
            @Html.DropDownListFor(m => m.inclocationinfo.inc_loc_type, new SelectList((IEnumerable<CTSCodeTable>)ViewData["IncidentLocation"], "short_description", "short_description"), "---Select One--", new { @class = "form-control" })
        </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblincloc", "Location/Address:")
            @Html.TextBoxFor(m => m.inclocationinfo.street_add, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblincCity", "City:")
            @Html.TextBoxFor(m => m.inclocationinfo.city, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group form-group-sm">
            @Html.Label("lblincState", "State:")
            @Html.TextBoxFor(m => m.inclocationinfo.state, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-group-sm">
            @Html.Label("lblincZip", "Zip:")
            @Html.TextBoxFor(m => m.inclocationinfo.zipcode, new { autocomplete = "off", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group form-group-sm">
            @Html.Label("lblincCmmts", "Description of Complaint/Comment:")
            @*@Html.TextArea("myTextArea", "This is value", new { @class = "form-control" })*@
            @Html.TextAreaFor(m => m.corrcompdescResolutionm.cc_description_text)
        </div>

    </div>
</div>
<input type="submit" class="btn btn-primary btn-sm" formaction="SaveDetailsInfo" value="Save Details">

}