@using CTSImp1.ViewModels;
@using CTSImp1.Models;
@model TrackingViewModel
@{
    ViewBag.Title = "ReferralPV";
    Layout = "";
}
@using (Html.BeginForm())
{
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            <label>Date of Referral:</label>
            <div class='input-group date datepicker'>                
                <div class="input-group col-md-5 dtReferral date" data-date="" data-date-format="MM dd yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    @Html.TextBoxFor(m => m.referralInfom.due_date, new { @class = "form-control", placeholder = "Click to show calendar", tabindex = 3, style = "width: 220px;" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblRfrdTo", "Refered to:")
            @Html.DropDownListFor(m => m.referralInfom.referred_to_group, new SelectList((IEnumerable<CTSCodeTable>)ViewData["ReferredTo"], "table_no", "short_description"), "---Select One--", new { @class = "form-control" })
        </div>
    </div>   
    <div class="col-sm-6 col-md-3">
        <div class="form-group form-group-sm">
            @Html.Label("lblRfrlStatus", "Referred Status:")
            @Html.DropDownListFor(m => m.referralInfom.referral_status, new SelectList((IEnumerable<CTSCodeTable>)ViewData["ReferredStatus"], "table_no", "short_description"), "---Select One--", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-sm-6 col-md-12">
        <div class="form-group form-group-sm">
            @Html.Label("lblRfrlRfC", "Referrer Comments:")
            @Html.TextAreaFor(m => m.referralInfom.comments)
        </div>
    </div>
    <div class="col-sm-6 col-md-12">
        <div class="form-group form-group-sm">
            @Html.Label("lblRfrlReC", "Referee Comments:")
            @Html.TextAreaFor(m => m.referralInfom.referral_rejected_comments)
        </div>
    </div>
    <div class="col-md-12 margin-bottom">
        <input type="submit" class="btn btn-primary btn-sm" formaction="SaveReferralInfo" value="Save Referral">
        <input type="submit" class="btn btn-primary btn-sm" formaction="AddNewReferral" value="Add New Referral">
        @*<input type="button" class="btn btn-primary" value="Add New Referral" />*@
        <input type="button" class="btn btn-primary" value="View History" />
    </div>
</div>
<div class="well">
    <div class="row margin-bottom">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <tr>
                    <th style="border-top: 0px solid #136073;">Referral No.</th>
                    <th style="border-top: 0px solid #136073;">Date of Referral</th>
                    <th style="border-top: 0px solid #136073;">Referred From</th>
                    <th style="border-top: 0px solid #136073;">Referred to</th>
                    <th style="border-top: 0px solid #136073;">Complaint Handled By</th>
                    <th style="border-top: 0px solid #136073;">Due Date</th>
                    <th style="border-top: 0px solid #136073;">Comments of Referral / Resolution</th>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
            </table>
        </div>
    </div>
</div>
}