@using GridMvc.Html
@model IEnumerable<CTSImp1.Models.CTSCodeTable>
@{
    ViewBag.Title = "DisplayData";
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div class="col-lg-12 padding-side-none">
    <div class="row-fluid" style="height: 10px;">&nbsp;</div>
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(c => c.long_description).Titled("Long Description").Filterable(true).Sanitized(false).Encoded(false).RenderValueAs(model => Html.ActionLink(model.long_description,
"DetailReport", "Tracking", new { tableCode = model.table_code }, null).ToHtmlString());
           columns.Add(c => c.short_description).Titled("Short Description").Sortable(true);
           columns.Add(c => c.table_code).Titled("Table Code").Sortable(true);
       }).WithPaging(10).Sortable(true)
        </div>
    </div>
    <input type="button" value="New" onclick="location.href='@Url.Action("TrackingInfo", "Tracking")'" />

</div>
